.menuBar{

  display: none;

}

iframe {
    left: 10px;
}
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
}

a.active {
    background-color: #0f34e0;
    color: white;
}

.header {
    padding: 1px;
    text-align: center;
    font-size: 35px;
    height: 4em;
}

.emailName {
    padding: 1px;
    text-align: center;
    font-size: 15px;
    height: 4em;
}
.directions {
    padding: 1px;
    text-align: center;
    font-size: 10px;
    background-color: #c4bebe;
}
.rightindexcolumn {
   
    width: 90%;
    background-color: #c4bebe;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.leftindexcolumn {   
    
    width: 90%;
    background-color: #c4bebe;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.singleColumn {
  
   width: 100%;
   text-align: center;
   background-color: #c4bebe;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.navbutton {
	font-size:30px;
	cursor:pointer;
    position: absolute;
    left: 0px;
    width: 150px;
    padding: 0px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (min-width: 28.75em) {
    .related-products li {
      width: 33.3333333%;
    }
  }

  @media screen and (min-width: 40.5em) {
    .related-products li {
      width: 16.6666667%;
    }
  }



/* Mobile Font sizes */

h1 {
    font-size: 1.75em;
    
    line-height: 1.15384615;
  
  }
h2 {
    font-size: 1.5em;
   
    line-height: 1.15384615;
  
  }
h3 {
    font-size: 1.375em;
   
    line-height: 1.13636364;
  
  }  
  h5 {
    font-size: 1em;
   
    line-height: 1;

    font-weight: bold;

    
   
    text-align: center;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    margin-top: .2em;
    margin-bottom: 1em;
  }  
  @media (min-width: 35.75em) {
    .menuBar{
      
        display: inline;
      
      }
    h1 {
        font-size: 2em;
        
        line-height: 1.15384615;
        
      }
    h2 {
      font-size: 1.75em;
     
      line-height: 1.25;
    }
    h3 {
        font-size: 1.5em;
        /* 1.5x body copy size = 24px */
        line-height: 1.25;
      }
      nav.li a {
        text-align: center;
        float: none;
    }
  
  h5 {
    font-size: 1.375em;
 
    line-height: 1.13636364;
  
  }  
  .header {
    max-height: 100%;
  }
  .emailName {
    font-size: 1.25em;
    
    line-height: 1.25;
  }
}
  @media (min-width: 43.25em) {
    h1 {
        font-size: 2.5em;
        /* 1.625x body copy size = 26px */
        line-height: 1.15384615;
        /* 30px / 26px */
      }
    h2 {
      font-size: 2em;
      /* 2.25x body copy size = 36px */
      line-height: 1.25;
    }
    h3 {
        font-size: 1.5em;
        /* 1.75x body copy size = 28px */
        line-height: 1.25;
      }
    h5 {
        font-size: 1.5em;
        margin-top: .2em;
        line-height: 1.13636364;
        
      }  
      nav.ul {
        width: 100%;
        height: auto;
        position: relative;
    }
    nav.li a {
        float: left;
        padding: 15px;
    }

    div.content {margin-left: 0;}

    .rightindexcolumn {
        float: right;
        width: 45%;
        background-color: #c4bebe;
        padding-left: 2px;
        display: inline-block;
    }
    .leftindexcolumn {   
        float: left;
        width: 45%;
        background-color: #c4bebe;
        display: inline-block;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
}
  


  

/* Google Maps Styling */
      #map {
        height: 325px;
		margin: auto;
      }
	  
	  .mapdiv{
		width:500px;
		height:200px;
		margin: auto;
	  }
	  
	  @media screen and (max-width: 500px) {
  .mapdiv{
		width:100%;
		left:0%
	  }
}

      /* The location pointed to by the popup tip. */
      .popup-tip-anchor {
        height: 0;
        position: absolute;
        /* The max width of the info window. */
        width: 200px;
      }
      /* The bubble is anchored above the tip. */
      .popup-bubble-anchor {
        position: absolute;
        width: 100%;
        bottom: /* TIP_HEIGHT= */ 8px;
        left: 0;
      }
      /* Draw the tip. */
      .popup-bubble-anchor::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        /* Center the tip horizontally. */
        transform: translate(-50%, 0);
        /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
        width: 0;
        height: 0;
        /* The tip is 8px high, and 12px wide. */
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: /* TIP_HEIGHT= */ 8px solid white;
      }
      /* The popup bubble itself. */
      .popup-bubble-content {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -100%);
        /* Style the info window. */
        background-color: white;
        padding: 5px;
        border-radius: 5px;
        font-family: sans-serif;
        overflow-y: auto;
        max-height: 60px;
        box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5);
      }