.accordionMain {
    background-color: #c4bebe;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 95%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
	position: relative;
}
.accordionNull {
    background-color: #c4bebe;
    color: #444;
    cursor: pointer;
    padding-right: 18px;
    padding-bottom: 18px;
    padding-top: 18px;
    padding-left: 18px;
    width: 94%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
	position: relative;
}
.accordionSec {
    background-color: #c4bebe;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 93%;
    border: none;
    outline: none;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    position: relative;
    text-align: center;
    display: auto;
    margin: auto;
    padding-right: 28px;
}
.selactive, .accordionMain:hover {
    background-color: #ccc;
}

.accordionMain::after { 
    content: '\002B';
    color: #444;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    text-align: center;
	
}

.selactive, .accordionSec:hover {
    background-color: #ccc;
}

.accordionSec::after { 
    content: '\002B';
    color: #444;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    text-align: center;
    display: auto;
    margin: auto;
    padding-right: 28px;
}
.selactive::after {
    content: "\2212";
}
.selactive, .accordionNull:hover {
    background-color: #ccc;
}

.accordionNull::after { 
    content: '\002B';
    color: #444;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    text-align: center;
    display: auto;
    margin: auto;
    padding-right: 28px;
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    
}
p.list {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
	font-weight: bold;
	font-size: 150%;
    color:DodgerBlue;
    text-align: center;
    padding-right: 28px;
    padding-left: 35px;
    background-color: #c4bebe;
    width: 75%;
}
div.list {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
	font-weight: bold;
	font-size: 150%;
    color:DodgerBlue;
    text-align: center;
    padding-right: 28px;
    padding-left: 35px;
    background-color: #c4bebe;
}
.rightcolumn {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
    
}
.leftcolumn {   
    margin-left: auto;
    margin-right: auto;
   
    width: 100%;
}
.centerright {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.cabSauv{
font-size: 13px;}
@media (min-width: 35.75em) {
    .rightcolumn {
        float: right;
        width: 45%;
       
        padding-left: 20px;
    }
    .leftcolumn {   
        float: left;
      
        width: 50%;
    }
    .centerright {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .accordionSec:after { 
       
        color: #444;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }
    .accordionMain {
        text-align: left;
    }
    .cabSauv{
        font-size: 15px;}
    .accordionSec {
        background-color: #c4bebe;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 70%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        position: relative;
    }
    .accordionNull {
        color: #7180c4;
        background-color: #c4bebe;
        
        cursor: pointer;
        padding: 18px;
        width: 70%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 18px;
        transition: 0.4s;
        position: relative;
        padding-right: 18px;
        padding-bottom: 18px;
        padding-top: 18px;
        padding-left: 18px;
    }
    p.list {

        text-align: left;
        padding-right: 0px;
        background-color: #c4bebe;
    }
    .selactive::after {
        content: "\2212";
    }
}
.selactive::after {
    content: "\2212";
}