.accordionMain {
    background-color: #c4bebe;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 95%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
	position: relative;
}
.accordionSec {
    background-color: #c4bebe;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    position: relative;
    text-align: center;
    display: auto;
    margin: auto;
    padding-right: 28px;
}
.selactive, .accordionMain:hover {
    background-color: #ccc;
}

.accordionMain:after { 
    content: '\002B';
    color: #444;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    text-align: center;
	
}

.selactive, .accordionSec:hover {
    background-color: #ccc;
}

.accordionSec:after { 
    content: '\002B';
    color: #444;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    text-align: center;
    display: auto;
    margin: auto;
    padding-right: 28px;
}
.selactive:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
p.list {
	font-weight: bold;
	font-size: 150%;
	color:DodgerBlue;
}
.rightcolumn {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #c4bebe;
    
}
.leftcolumn {   
    margin-left: auto;
    margin-right: auto;
    background-color: #c4bebe;
    width: 100%;
}
.centerright {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media (min-width: 35.75em) {
    .rightcolumn {
        float: right;
        width: 45%;
        background-color: #c4bebe;
        padding-left: 20px;
    }
    .leftcolumn {   
        float: left;
        background-color: #c4bebe;
        width: 50%;
    }
    .centerright {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .accordionSec:after { 
        content: '\002B';
        color: #444;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }
    .accordionSec {
        background-color: #c4bebe;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 70%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        position: relative;
}